<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {{#def.common_css}}
    <title>Netshoes</title>
</head>

<body>
    <div class="main-wrapper">
    </div>
    <div class="header-wrapper">
            {{#def.header}}
    </div>
    <div class="nav-wrapper">

    </div>
    <div class="container">
        {{#def.body}}
    </div>
    <div class="container">
        {{#def.footer}}
    </div>
{{#def.common_js}}
</body>

</html>
